body {
    transition: background-color 0.3s ease;
  }
  
  .dark-mode {
    background-color: #252128;
    color: #fff;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #222;
  }
  #AppMain{
    display: flex;
    justify-content: center;
  }
  